/.consulo
/.vscode
*.unityproj
*.csproj
*.pidb
*.sln
*.suo
*.userprefs
*.unityproj.meta
*.csproj.meta
*.pidb.meta
*.sln.meta
*.suo.meta
*.userprefs.meta
*ReSharper*
/Temp*/
*UpgradeReport*
obj
Relativity.csproj
Relativity.pidb
Relativity.sln
Relativity.suo
Relativity.userprefs
Relativity.5.1.ReSharper.user
Relativity.csproj.user
Relativity.sln.DotSettings.user
UpgradeLog*
/Assembly-CSharp.csproj.user
/Assembly-CSharp.suo
editor.log
/AB/
/Library
