# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Bb]uilds/
Library/*
/Library/*
[Ll]ibrary/
sysinfo.txt
*.stackdump
/Assets/AssetStoreTools*
*.apk
*.unitypackage
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd

obj
Relativity.csproj
Relativity.pidb
Relativity.sln
Relativity.suo
Relativity.userprefs
Relativity.5.1.ReSharper.user
Relativity.csproj.user
Relativity.sln.DotSettings.user
UpgradeLog*
/Assembly-CSharp.csproj.user
/Assembly-CSharp.suo
editor.log

